<!DOCTYPE html>
<html>
	<head><!-- jQuery library -->
<!-- jQuery library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

			<!-- These are my files-->
			<script src="/public/socket.min.js"></script>
<script src="/public/client.js"></script>
<link rel= "stylesheet" type="text/css" href="/js/style.css">

</head>
	<body>
	<!--<div id="player">
    <audio autoplay hidden loop>
     <source src="/js/battle.mp3" type="audio/mpeg">
                If you're reading this, audio isn't supported. 
    </audio>
</div> -->
	<h2 style="visibility:hidden"><%=user%></h2>
	<h1>Battle!</h1>
	<a id = 'linker' href = '/'>Go Back</a>
	<div id = 'container'>
		<p id = 'enemytext'>Venusaur</p>

		<div class="ui teal small progress">
  			<div class="bar" style = "width:100%" id = "enemyhealth" data-health = "100">
    			<div class="progress"></div>
  			</div>
  		</div>

  		<div class = 'enemy'>
          <img id = 'front' src = '../3.gif' data-id = 'none'></img>
        </div>
        <div class = 'player'>
          <img id = 'back' src = '../1.png' data-id = 'none'></img>
        </div>

        <div class="ui teal small progress">
  			<div class="bar" style = "width:100%" id = "playerhealth" data-health = "100">
    			<div class="progress"></div>
  			</div>
  		</div>

  		<p id = 'playertext'>Dragonite</p>

  		<div class="firsttwo">
   			 <button type="button" id="m1" class = 'ui teal basic button' data-pp = '16'>Move 1
   			 </button>
    		<button type="button" id="m2" class = 'ui teal basic button' data-pp = '16'> Move 2
    		</button>
    	</div>

    	<div class="lasttwo">
    		<button type="button" id="m3"  class = 'ui teal basic button' data-pp = '16'>Move 3</button>
    		<button type="button" id="m4" class = 'ui teal basic button' data-pp = '16'>Move 4</button>
    		<button type="button" id="switch" class = 'ui yellow basic button'>Switch</button>
    	</div>

	</div>


	</body>
</html>