<!DOCTYPE html>
<html>
		<head>
			<!-- jQuery library -->
			<!-- jQuery library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

			<script src= "js/indexPage.js"></script>
			
</head>
		</head>

		<body>
			<h1>Login</h1>
			<textarea id = 'name' rows = '1' columns = '120' placeholder= 'Login Here' ></textarea>
			<a id = 'lin' class = "btn btn-default" href = '/battle'>Find Match</a>
			</br>			
		</body>
		
</html>