.firsttwo {
  position: relative;
  top: 50%;
}

.enemy {
  margin-left: 100px;
}

.player {
  margin-top: 60px;
  margin-bottom: -10px;
  margin-left: 20px;
}

.ui {
  width:150px;
}

body {
  background-color: #FFF;
}


